h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    background: lightgray;
    text-decoration: bold;
    font-size: 24px;
    letter-spacing: 1.6em;
    word-spacing: 2em;
    text-align: center;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkred;
    font-size: 18px;
    letter-spacing: 1.4em;
}

.years {
    font-weight: bold;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
}

.column1 {
    float: left;
    width: 25%;
    padding: 15px;
}
.column2 {
    float: left;
    padding: 15px;
}